<link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>

<div id="comments"></div>
<script type="text/javascript">
    var language = navigator.language || navigator.userLanguage;
    // var gitalk = new Gitalk({
    //     clientID: 'd1eb7e13bdea94d4be23',
    //     clientSecret: '91cb6a1282bfd6e8225ee6d1c4b2743f621063ec',
    //     repo: 'blog',
    //     owner: 'tomfriwel',
    //     admin: ['tomfriwel'],
    //     id: document.title,
    //     distractionFreeMode: false,
    //     language: language
    // });
    // gitalk.render('gitalk-container');

    const gitment = new Gitment({
        id: document.title, // optional
        owner: 'tomfriwel',
        repo: 'blog',
        oauth: {
            client_id: 'd1eb7e13bdea94d4be23',
            client_secret: '91cb6a1282bfd6e8225ee6d1c4b2743f621063ec',
        },
        // ...
        // For more available options, check out the documentation below
    })

    gitment.render('comments')
</script>